.paginationContainer {
  margin-top: 1rem;
  .activePaginationPage {
    border: none !important;
    background-color: green !important;
    color: white !important;
    margin: 0;
  }
  .pendingPaginationPage {
    border: 1px solid #5cb85c !important;
    color: #5cb85c !important;
    margin: 0;
  }
}
